.App {
    width: 100vw;
    min-height: 100vh
}

body {
    background-color: var(--bg-color);
    color: var(--primaryText-color) !important;
    color: var(--primaryText-color);
    overflow-x: hidden;
}

textarea {
    background-color: var(--textarea-color);
}