
:root {

    --primary-color: #0288D1;
    --primary-dark: #161625;
    --secondary-color: #607D8B;
    --card-color: whitesmoke;
    --font-color: #FFFFFF;
    --hover-color: #CFD8DC;
    --bg-color: whitesmoke;
    --textarea-color: whitesmoke;
    --primaryText-color: #212121;
    --secondaryText-color: #757575;
    --menu-width-desktop: 240px;
    --menu-width-tablet: 90px;
    --menu-width-smartphone: 230px;
    font-weight: bolder;
}
[data-theme="dark"] {
    --primary-color: #161625;
    --secondary-color: #565f78;
    --card-color: #3b404f;
    --font-color: #FFFFFF;
    --hover-color: #6b6b82;
    --bg-color: #161625;
    --textarea-color: #757575;
    --primaryText-color: #FFFFFF;
    --secondaryText-color: whitesmoke;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    width: 100vw;
    min-height: 100vh
}

body {
    background-color: var(--bg-color);
    color: var(--primaryText-color) !important;
    color: var(--primaryText-color);
    overflow-x: hidden;
}