
.comentario{
    display: inline-block;
    margin: 10px;
    align-items: center;
    width: 100%;
    align-items: center;
  }
  
  .commenter--info{
    font-size: .7em;
    margin-bottom: 5px;
  }
  .comment--body{
    font-size: .85em;
  }