.post--header img {
  border-radius: 50% 50%;
}

.post--header .seguir--anchor {
  cursor: pointer;
}

.post--layout {
  background-color: whitesmoke;
  margin-left: -2px;
  margin-right: -2px;
}
.post--layout > p {
  font-weight: 400;
  margin: 1em 2em;
}

.post--layout > hr{
  width: 90%;
  margin: 0 auto;
  height: 1px;
  opacity: 0.5;
}

img{
    width:50px;
    margin: 5px;
  }

.post--header{
    display: flex;
    align-items: center;
    margin: 0.8em;
}

.post--buttons{
  text-align: center;
}

.comentario--divider{
  width: 70%;
  margin: 0 auto;
  opacity: 0.5;
}

summary {list-style: none}
summary::-webkit-details-marker {display: none; }

.post--verComentario{
  margin: 10px;
}


details summary::before { 
  content:"🡒"; 
  color: var(--primary-dark); 
  margin: 10px;
  /* you can style it however you want, use background-image for example */
}

/* By using [open] we can define different styles when the disclosure widget is open */
details[open] summary::before { 
  content:"🡑"; 
  color: var(--primary-dark);
  margin: 10px;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: var(--details-height-open, '100%');
  }
}

html {
  --details-transition-time: 400ms;
}

details {
  transition: all ease-out var(--details-transition-time, 0);
  max-height: var(--details-height-closed, auto);
}

details[open] {
  max-height: var(--details-height-open, auto);

}

details div {
  transition: all ease-out var(--details-transition-time, 0);
  max-height: var(--details-content-height-closed, auto);
  overflow: hidden;
  animation-name: slideDown;
  animation-duration: var(--details-transition-time);
}

details.is--open div {
  max-height: var(--details-content-height-open, auto);
}
