.home--layout {
  display: flex;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
  margin-left: 240px;
  width: 100vw;
}

.home--layout main {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--layout main > * {
  width: 600px;
  margin-top: 0.5em;
}

.right-nav {
  transform: translateX(50%);
}

.post--form {
  background-color: var(--primary-color);
  padding: 0.5em 0;  
  border-radius: 5px;
}


hr.rounded {
  border: 0.5px solid var(--primaryText-color);
  border-radius: 5px;
  margin: 10px
}

.post--form textarea {
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  border-radius: 10px;
}

.post--form button[type=submit]  {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #161625;
    color: whitesmoke;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
} 

section button{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #161625;
  color: whitesmoke;
  font-weight: 500;
  cursor: pointer;
  margin: 10px;
} 

fieldset {
  border-radius: 10px;
  margin: 10px;
}

fieldset p{
  text-align: left;
  margin: 10px;
}