
.rightnav--layout{
    background-color: var(--primary-color);
    padding: 0.5em;    
    height: 100%;
    word-break: break-all;
}

.rightnav--content{
    margin: 1em;
}

.rightnav--content hgroup{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.rightnav--divider{
    width: 50%;
    margin: 1em auto;
}
.rightnav--content hr{
    margin: 10px;
}

.rightnav--feed {
    overflow-y: auto;
    scrollbar-width: none;
    max-height: calc(100vh - 100px);
    padding-bottom: 1em;
}

.rightnav--feed::-webkit-scrollbar {
    display: none;
}

.artigo{
    margin:5px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    
}
.artigo--titulo{
    margin: 5px;
    font-size: 1.1em;
    word-break: keep-all;
}

.artigo--sumario{
    font-size: .85em;
    word-break: keep-all;
    margin: 10px;
}

.artigo--link {
    color: whitesmoke !important;
}