
.rightnav--layout{
    background-color: var(--primary-color);
    padding: 0.5em;    
    height: 100%;
    word-break: break-all;
}

.rightnav--content{
    margin: 1em;
}

.rightnav--divider{
    width: 50%;
    margin: 1em auto;
}
.rightnav--content hr{
    margin: 10px;
}
.artigo{
    margin:5px;
}
.artigo--titulo{
    margin: 10px;
}

.artigo--sumario{
    font-weight: 400;
}