.content-layout {
  display: flex;
  justify-content: space-between;
}

.content-layout > * {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.content-layout > section {
  flex: 1;
  scrollbar-width: none;
}

.content-layout > section:-webkit-scrollbar {
    display: none;
}

.content-layout > aside {
  max-width: calc(var(--menu-width-desktop) * 1.75);
  width: calc(var(--menu-width-desktop) * 1.75);
  background-color: var(--primary-color);
  padding: 1em;
}

