.content-layout > section {
  margin-left: calc(var(--menu-width-desktop) * -2);
}

.content-layout > aside {
  max-width: calc(var(--menu-width-desktop) * 1.75);
  width: calc(var(--menu-width-desktop) * 1.75);
  background-color: var(--primary-color);
  padding: 1em;
  position: fixed;
  top: 0;
  right: 0;
}

